
<div [style.padding.px]="16" *ngIf="{profile: profile$ | async} as changes">

    <h1>{{changes.profile?.data?.name}}</h1>

    <h3>{{changes.profile?.data?.email}}</h3>

</div>

<mat-grid-list cols="4" rowHeight="1:1">

    <mat-grid-tile>

        <button mat-button fxLayoutAlign="center center" class="mat-elevation-z1" [style.width.px]="250" [style.height.px]="250" [routerLink]="['../countries']" routerLinkActive="active">

            <h1>Countries</h1>

        </button>

    </mat-grid-tile>

    <mat-grid-tile>

        <button mat-button fxLayoutAlign="center center" class="mat-elevation-z1" [style.width.px]="250" [style.height.px]="250" [routerLink]="['../tree-example']" routerLinkActive="active">

            <h1>Tree Example</h1>

        </button>

    </mat-grid-tile>

    <!-- <mat-grid-tile>

        <button mat-button fxLayoutAlign="center center" class="mat-elevation-z1" [style.width.px]="250" [style.height.px]="250" [routerLink]="['../tree-example-reactive']" routerLinkActive="active">

            <h1>Tree Example Reactive</h1>

        </button>

    </mat-grid-tile> -->

</mat-grid-list>
