<div fxFill class="example-loading-shade" *ngIf="loading | async">

    <mat-spinner></mat-spinner>
  
</div>

<mat-card class="example-card">

    <mat-card-header>

        <mat-card-title>Country</mat-card-title>
        
    </mat-card-header>

    <mat-card-content>

        <form [formGroup]="formGroup">

            <div fxLayout="row">
    
                <mat-form-field appearance="outline">
                    
                    <mat-label>Name</mat-label>
                    
                    <input matInput formControlName="name">

                    <mat-error></mat-error>
                
                </mat-form-field>

                <mat-form-field appearance="outline">
                    
                    <mat-label>Code</mat-label>
                    
                    <input matInput formControlName="code">

                    <mat-error></mat-error>
                
                </mat-form-field>
    
            </div>

            <div fxLayout="row">
    
                <mat-form-field appearance="outline">
                    
                    <mat-label>ISO 2</mat-label>
                    
                    <input matInput formControlName="iso2">

                    <mat-error></mat-error>
                
                </mat-form-field>

                <mat-form-field appearance="outline">
                    
                    <mat-label>ISO 3</mat-label>
                    
                    <input matInput formControlName="iso3">

                    <mat-error></mat-error>
                
                </mat-form-field>
    
            </div>

            <div fxLayout="row">
    
                <mat-form-field appearance="outline">
                    
                    <mat-label>Phone Code</mat-label>
                    
                    <input matInput formControlName="phone_code">

                    <mat-error></mat-error>
                
                </mat-form-field>
    
                <mat-form-field appearance="outline">
    
                    <mat-label>Currency</mat-label>
    
                    <input type="text" matInput formControlName="my_currency" [matAutocomplete]="auto">
    
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunc">
    
                        <mat-option *ngFor="let option of crDatabase.dataChange | async" [value]="option">{{option?.data.name}}</mat-option>
    
                        <div fxFlex fxLayoutAlign="center center"> <button mat-button *ngIf="crDatabase.isLoadable" (click)="crDatabase.loadMore()">Load More</button></div>

                    </mat-autocomplete>
    
                </mat-form-field>

            </div>

        </form>

    </mat-card-content>

    <mat-card-actions fxLayoutAlign="end end" *ngIf="{
        id: id | async,
        document: document | async
    } as changes">
        <button mat-button (click)="back()">Back</button>
        <button mat-stroked-button color="warn" [fxShow]="changes.id" (click)="delete(changes.id)">Delete</button>
        <button mat-stroked-button color="primary" [fxShow]="changes.id" (click)="update(changes.document)">Update</button>
        <button mat-stroked-button color="primary" [fxShow]="!changes.id" (click)="create()">Create</button>
    </mat-card-actions>

</mat-card>

