<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Leaf node -->
    <mat-tree-node *matTreeNodeDef="let node">

        <div fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="start center" matTreeNodePadding>
    
                <button mat-icon-button disabled></button>
        
                {{node.item.data.name}}
                
                <button mat-icon-button *ngIf="isLoadable(node.item) && !isLoading(node.item)" (click)="loadMore(node.item)">
    
                    <mat-icon color="accent" svgIcon="timeline-plus"></mat-icon>
    
                </button>

                <mat-spinner [diameter]="25" *ngIf="isLoadable(node.item) && isLoading(node.item)"></mat-spinner>
    
            </div>
    
            <mat-divider></mat-divider>

        </div>

    </mat-tree-node>
  
    <!-- expandable node -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild">

        <div fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="start center" matTreeNodePadding>
    
                <button mat-icon-button matTreeNodeToggle>
        
                    <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
        
                </button>
        
                {{node.item.data.name}}
    
                <button mat-icon-button *ngIf="isLoadable(node.item) && !isLoading(node.item)" (click)="loadMore(node.item)">
    
                    <mat-icon color="accent" svgIcon="timeline-plus"></mat-icon>
    
                </button>

                <mat-spinner [diameter]="25" *ngIf="isLoadable(node.item) && isLoading(node.item)"></mat-spinner>
    
            </div>
    
            <mat-divider></mat-divider>

        </div>

    </mat-tree-node>

</mat-tree>