<div fxLayoutGap="20px">

    <h2>String Filter</h2>

    <div fxLayout="row">

        <mat-form-field appearance="fill">

            <mat-label>Filter</mat-label>

            <mat-select [(ngModel)]="filter">

                <mat-option *ngFor="let f of filters" [value]="f">{{f.display}}</mat-option>

            </mat-select>

        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex *ngIf="filter.value !== 'isnull' && filter.value !== 'in'">

            <mat-label>Filter</mat-label>

            <input matInput [(ngModel)]="value" [disabled]="!filter.value">

        </mat-form-field>

        <div fxFlex fxLayoutAlign="end center" *ngIf="filter.value === 'isnull'"><mat-checkbox [(ngModel)]="value" [disabled]="!filter.value"></mat-checkbox></div>

    </div>

    <div [fxShow]="filter.value === 'in'">

        <button mat-button (click)="distinctDatabase.refresh()">Refresh</button>
    
        <button mat-button (click)="distinctDatabase.reset()">Reset</button>
        
        <mat-form-field fxFlex>

            <mat-label>Distinct Filter</mat-label>

            <mat-select [(ngModel)]="inValues" multiple>

                <mat-option *ngFor="let element of elements" [value]="element?.data[fieldName]">{{element?.data[fieldName]}}</mat-option>

                <div fxLayoutAlign="center center">
    
                    <button mat-button color="primary" *ngIf="distinctDatabase.isLoadable && !distinctDatabase.isLoading" (click)="distinctDatabase.loadMore()">Load More</button>
        
                    <mat-spinner *ngIf="distinctDatabase.isLoading" color="accent" [diameter]="40"></mat-spinner>
        
                </div>

            </mat-select>

        </mat-form-field>
    
    </div>

    <div fxLayoutAlign="end end">
    
        <button mat-raised-button color="primary" [disabled]="distinctDatabase.isLoading" (click)="apply()">Apply</button>
    
    </div>

</div>